#searchBar {
    width: 500px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    font-size: 12px;
    display: block;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 150%);
}